<h1>日付入力</h1>
<p>カレンダーアプリでtext_areaに入力されたのを前提とします。</p>
<%= form_with(url:users_path,local:true) do |f| %>
 <%= f.text_area :str,row:2,style:"width:500px;height:80px;" %><br>
 <%= f.submit "登録" %>
<% end %><br>
<div style="color:red;font-size:28px">
  カレンダーから入力されてのを前提とし調整くんのように必ず改行して<br><br>
  2019/10/11,2019/10/18のように何行かためしていただきたいです。
</div>